/* CSS declarations go here */
body {
	font-family: sans-serif;
	background-color:white;
	background-image: linear-gradient(to bottom, #FFFFFF, #dddddd 100%);
	background-attachment: fixed;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0;
	margin: 0;

	font-size: 14px;

}


@media (max-width:1024px) {
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}


#fixme {position: float;left: 0;right: 0; top:0;}
}

#li.red-division {
	background-color: rgb(235, 126, 126);
}

#li.blue-division {
	background-color: rgb(134, 198, 230);
}
.highlight-color {
	background-color: rgb(255, 245, 0);
}

.list-group-item {
  padding: 2px 2px;
  position: relative;
}
}
.captain {
  list-style-image: url('captain.png');
}
.cocaptain {
  list-style-image: url('cocaptain.png');
}
.mltp {
 list-style-image: url('MLTP.png');
}

header {
	background: #d2edf4;
	background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
	padding: 20px 15px 15px 15px;
	position: relative;
}

h1 {
	font-size: 1.5em;
	margin: 0;
  margin-top: 5px;
	display: inline-block;
	margin-right: 1em;
}

header .hide-completed {
	float: right;
}

.toggle-private {
	margin-left: 5px;
}
