<template name="trade">
    <style type="text/css">
        body {padding-top: 70px;}
    </style>
    <div class="pendingTrades">
        <!-- list pending trades -->
    </div>
    <div class="tradecontainer">
        <form class="new-post" id="offertrade">
            <div class="trademyTeam">
                {{#each getallPlayersInRoster}}
                    {{#if isCaptain name}}
                        <br><br><strong>{{teamname}}</strong><br>
                    {{else}}
                        <input type="checkbox" name="myplayer{{order}}" class="tradeplayer" value="{{name}}">{{name}}<br>
                    {{/if}}
                {{/each}}
                <input name="tagCoinsToGive" id="tagCoinsToGive" value="" placeholder="# Tagcoins to offer" type="text">
            </div>
            <div class="tradeTheirTeam">
                <select id="proposedCaptain">
                    <option value="Select">Select Captain</option>
                    {{#each captainlist}}
                        <option value="{{captain}}">{{captain}}</option>
                    {{/each}}
                </select>
                {{#each getallPlayersInTheirRoster}}
                    {{#if isCaptain name}}
                        <br><strong>{{teamname}}</strong><br>
                    {{else}}
                        <input type="checkbox" name="theirplayer{{order}}" class="tradeplayer" value="{{name}}">{{name}}<br>
                    {{/if}}
                {{/each}}
                <input name="tagCoinsToReceive" id="tagCoinsToReceive" value="" placeholder="# Tagcoins to receive" type="text">
            </div>
            <div class="tradecommonarea">
                <br>
                <textarea name="reasoning" id="reasoning" placeholder="Reasoning to admins. (The other captain will not see this)"></textarea>
                <textarea name="message" id="message" placeholder="Message to other captain"></textarea>
                <button class="btn btn-primary" type="submit">Propose</button>
            </div>
        </form>
    </div>
</template>
