<template name="trade">
    <style type="text/css">
        body {padding-top: 70px;}
    </style>
    <div class="pendingTrades">
        <!-- list pending trades -->
    </div>
    <div class="tradecontainer">
        <form class="new-post" id="offertrade">
            <div class="trademyTeam">
                <ul class="myRoster">
                    {{#each getallPlayersInRoster}}
                        {{#if isCaptain name}}
                            <li class="myteam">{{teamname}}</li>
                        {{else}}
                            <li class="player">{{name}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <input class="tagCoinsToGive" value="" placeholder="# Tagcoins to offer" type="text">
            </div>
            <div class="tradeTheirTeam">
                <select id="proposedCaptain">
                    <option value="Select">Select Captain</option>
                    {{#each captainlist}}
                        <option value="{{captain}}">{{captain}}</option>
                    {{/each}}
                </select>
                <!-- put team name here -->
                <ul class="theirRoster">
                    {{#each getallPlayersInTheirRoster}}
                        {{#if isCaptain name}}
                            <li class="theirteam">{{teamname}}</li>
                        {{else}}
                            <li class="player">{{name}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <input class="tagCoinsToReceive" value="" placeholder="# Tagcoins to receive" type="text">
            </div>
            <div class="tradecommonarea">
                <br>
                <textarea placeholder="Reasoning to admins. (The other captain will not see this)"></textarea>
                <textarea placeholder="Message to other captain"></textarea>
                <button class="btn btn-primary" type="submit">Propose</button>
            </div>
        </form>
    </div>
</template>
