<template name="auctionpage">
    <div class="container-fluid">
        <div class="row" style="padding-top:25px;">
            <div class="col-sm-4 col-sm-push-8 col-xs-12" style="padding-top:0px;">
                {{> get_funds }}
                {{> admin }}
                {{> display_bidding_options }}
                {{> display_time }}
                {{> messages }}
            </div>
            <div class="col-sm-8 col-sm-pull-4 col-xs-12">
                {{> rosters}}
            </div>
        </div>
        <div class="row">
            {{> captainsnoms}}
        </div>
        {{> playSound}}
        <div class="button" id="vibrate" style="display:hidden"></div>
    </div>
    <script type="text/javascript" src="/auctionjs.js"></script>
</template>

<template name="admin">
    {{#if admin}}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <div class="btn-group">
                            <div class="btn btn-primary resume-auction">Resume</div>
                            <div class="btn start-auction btn-success">Start</div>
                            <div class="btn btn-danger pause-auction">Pause</div>
                            <div class="btn btn-primary undo-bid">Undo Bid</div>
                            <div class="btn btn-primary undo-nomination">Undo Nomination</div>
                        </div>
                        <br>
                        <form class="form-group add-nomination" role="form">
                            <div class="input-group" style="padding-top:10px;">
                                <input type="text" name="player" class="form-control" placeholder="Nominate Player" autocomplete="off" style="" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success">Nominate</button>
                                </span>
                            </div>
                        </form>
                        <form class="form-group set-bidtime" role="form">
                            <div class="input-group">
                                <input type="text" name="bidtime" class="form-control" placeholder="Set initial bid time" style="" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success">Set</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>

<template name="get_funds">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading form-inline">
                    {{#if isCaptain}}
                        <p class="pull-right">Balance: <b>{{getBalance}} ({{getKeepermoney}})</b></p>
                    {{/if}}
                    {{> loginButtons}}
                    <div class="checkbox" style="padding-left:15px">
                        <label>
                          <input id="enableSounds" type="checkbox" checked> Play Sounds?
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="renderplayers">
    {{#each players teamname ./teamname}}
        <li class="list-group-item" style="padding: 2px 2px; height:25px; white-space:nowrap; overflow:hidden;">
            <span style="width:20px; display:inline-block;">
            {{#if captain}}
                <img src="/captain.png">
            {{else}}
                {{#if cocaptain}}
                    <img src="/cocaptain.png">
                {{else}}
                    {{#if mltp}}
                        <img src="/MLTP.png">
                    {{/if}}
                {{/if}}
            {{/if}}
            </span>
            {{#if name}}
                {{name}}
                <div style="float:right; padding-right:8px">
                    {{cost}}
                </div>
            {{/if}}
        </li>
    {{/each}}
</template>

<template name="renderteam">
    {{#each teams division ./division}}
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 team" style="">
            <ul class="list-group">
                <li class="list-group-item" id="team_{{teamID teamname}}" style="text-align:center;background-color:{{inRedDivision division}}">
                    {{teamname}}
                    <br>
                    {{money}} ({{keepermoney}})
                </li>
                {{> renderplayers teamname=teamname}}
            </ul>
        </div>
    {{/each}}
</template>

<template name="rosters">
        {{#each divisions}}
    <div class="row">
            <div class="col-md-2">
            <div class="divisionpanel panel panel-default">
                <div class="panel-heading division-header" style="text-align:right; background-color:{{inRedDivision division}}">
                {{division}} Division
                </div>
            </div>
            </div>
                {{> renderteam division=division}}
            <div class="clearfix visible-sm visible-md visible-lg"></div>
    </div>
        {{/each}}
</template>

<template name="playSound">
    {{#if shouldIPlaySound}}
        <script>
        playSounds('{{soundToPlay}}');
        </script>
    {{/if}}
</template>

<template name="display_bidding_options">
    {{#if isCaptain}}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{#if isNominationTime}}
                        {{#if isTurnToNominate}}
                            <form class="form-group nominate-player" role="form">
                                <div id="playerSearch" class="" style="display:inline">
                                    <input type="text" name="player" class="typeahead form-control"  autocomplete="off" placeholder="Input a player name" />
                                    </div>
                                    <input type="text" name="amount" id="initialBid" class="form-control" placeholder="Initial bid (blank = 0)" style="width:auto; display:inline;" />

                                    <button type="submit" class="btn btn-success">Nominate</button>
                            </form>
                            <script>
                                function initTypeAhead(players) {
                                    a = players.collection.find({drafted:false}).fetch();
                                    names = a.map(function(b) { return b.tagpro })
                                    $('#playerSearch .typeahead').typeahead({
                                      hint: true,
                                      highlight:true,
                                      minLength: 1
                                    },
                                    {
                                      name: 'players',
                                      displayKey: 'value',
                                      source: substringMatcher(names)
                                    });
                                    $(".tt-dropdown-menu").css("width", $(".typeahead").css("width"));
                                    $(".tt-dropdown-menu").css(
                                        {"max-height": "150px", "overflow-y":"auto", "background-color":"white", "padding-left":"5px"});
                                    $("#initialBid").css("width", "none");
                                }

                                initTypeAhead(players);
                            </script>
                        {{else}}
                            <form class="bid-on-player" role="form">
                                <div class="input-group">
                                    <input type="text" disabled name="amount" class="form-control" placeholder="Waiting for nomination">
                                    <span class="input-group-btn">
                                        <button type="submit" disabled class="btn btn-success">Bid</button>
                                    </span>
                                    </div>
                            </form>
                        {{/if}}
                    {{else}}
                        {{#if sufficientFunds }}
                        <form class="bid-on-player">
                            <div class="input-group">
                            <input type="text" class="form-control" name="amount"  onclick="$(this).val('')" placeholder="Input a bid amount (blank increases current bid by 1)">
                            <span class="input-group-btn">
                            {{#if canBid}}
                                <button type="submit" class="btn btn-success">Bid</button>
                            {{else}}
                                <button type="submit" disabled class="btn btn-success">Bid</button>
                            {{/if}}
                              </span>
                            </div>
                        </form>
                            <div class="text-center">
                            <div class="btn-group" style="padding-top:5px;">
                            {{#if canBid}}
                                {{#each bids}}
                                 <button type="btn" class="btn btn-primary bid-button buttontime" disabled amount="{{bid}}">{{bid}}</button>
                                {{/each}}
                                <script>
                                checkForButtons();
                                </script>
                            {{else}}
                                {{#each bids}}
                                    <button type="btn" class="btn btn-primary bid-button" disabled amount="{{bid}}">{{bid}}</button>
                                {{/each}}
                            {{/if}}
                              </div>
                              </div>
                        {{else}}
                            <form class="bid-on-player" role="form">
                            <div class="input-group">
                                <input type="text" disabled name="amount" class="form-control" placeholder="Insufficient Funds or Auction Paused">
                                <span class="input-group-btn">
                                    <button type="submit" disabled class="btn btn-danger">Bid</button>
                                </span>
                            </div>
                            </form>
                            <div class="text-center" style="padding-top:5px;">
                            {{#each bids}}
                                <button type="btn" class="btn btn-danger bid-button" disabled amount="{{bid}}">{{bid}}</button>
                            {{/each}}
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="renderplayermodal">
    <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header alert-primary">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">{{tagpro}}</h4>
          </div>
          <div class="modal-body">
              <ul class="list-group list-striped" style="text-align:left">
                    <li class="list-group-item"><b>reddit: </b>{{reddit}}</li>
                    <li class="list-group-item"><b>position: </b>{{position}}</li>
                    <li class="list-group-item"><b>days: </b>{{days}}</li>
                    <li class="list-group-item"><b>server: </b>{{server}}</li>
                    <li class="list-group-item"><b>mic: </b>{{mic}}</li>
                    <li class="list-group-item"><b>league: </b>{{league}}</li>
                    <li class="list-group-item"><b>note: </b>{{note}}</li>
                    <li class="list-group-item"><b>time_played: </b>{{time_played}}</li>
                    <li class="list-group-item"><b>location: </b>{{location}}</li>
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="display_time">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<div class="panel panel-default">
<div id="player-info" class="panel-heading" style="text-align:center">
            {{#if isNominationTime}}
                <h2 class="panel-title">Awaiting nomination from {{currentNominatingPlayer}} - <b id="elapsedTime">0</b><br /></h2>
                <script>
                startTimer();
                hidePlayerInfo();
                </script>
            {{else}}
                <h2 class="panel-title" onclick="showPlayerInfo()">
                {{#if personBeingBidOn}}
                    {{personBeingBidOn}} - <b id="timeRemaining">{{time}}</b><br />
                    <small>Click to show/hide info</small>
                {{/if}}
                </h2>
                {{> renderplayermodal currentPlayerInfo}}

                <script>
                    playSounds("go");
                </script>
            {{/if}}
        </div>
        {{#if isNominationTime}}
            <div class="panel-body" style="text-align:center">
                <h4 class="panel-title">{{nextNominator}} is next | {{getsnarkymessage}} {{currentNominatingPlayer}}</h4>
                </div>
        {{else}}
            <div class="panel-body" style="text-align:center">
            {{#if auctionPaused}}
                <h4 class="panel-title">{{auctionMessage}}</h4>
            {{else}}
                <h4 class="panel-title">{{lastBidder}} bid {{bidAmount}}</h4>
            {{/if}}
            </div>
        {{/if}}

        </div>
        </div>
    </div>
</template>
