<head>
    <title>MLTP Season 8</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/csshake.min.css">
    <link rel="stylesheet" href="/tooltipster.css">
    <link rel="stylesheet" href="/auction.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery.vibrate.min.js"></script>
    <script type="text/javascript" src="/typeahead.jquery.min.js"></script>
    <script type="text/javascript" src="/jquery.foggy.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{> nav}}
    {{> frontpage}}
</body>

<template name="frontpage">
    <div class="hidden">
        <audio id="sound_nomination">
            <source src="/sound/nomination.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound_myNomination">
            <source src="/sound/myNomination.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound_bid">
            <source src="/sound/bid.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound_playerWon">
            <source src="/sound/playerWon.mp3" type="audio/mpeg" />
        </audio>
        <audio id="sound_go">
            <source src="/sound/go.mp3" type="audio/mpeg" />
        </audio>
    </div>
    <center><div id="warningMessage">{{warningMessage}}</div></center>
    <!-- if we're gonna do a server reboot, put a warning in 15 minutes before into it here w/ a div -->
    {{#if homePage}}
        {{> links}}
    {{/if}}
    {{#if signUpPage}}
        {{> signup}}
    {{/if}}
    {{#if editSignUpPage}}
        {{> editsignup}}
    {{/if}}
    {{#if draftPage}}
        {{> auctionpage}}
    {{/if}}
    {{#if packetPage}}
        {{> viewsignups}}
    {{/if}}
    {{#if adminPage}}
        {{> adminPage}}
    {{/if}}
    {{#if tradePage}}
        {{> trade}}
    {{/if}}
    {{#if rosterPage}}
        {{> teamrosters}}
    {{/if}}
    {{#if waiversPage}}
        {{> waivers}}
    {{/if}}
</template>
