<template name="viewsignups">
    <!-- query for players with specific responses -->
    <!-- table of all players -->
<html>
  <body>
    <div class="container">
      <div class="draft-table">
        <div class="table-title">
          <span>MLTP Season 8 Draft Packet</span>
        </div>
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Position</th>
              <th>Name</th>
              <th>Location</th>
              <th>Experience</th>
              <th class="stat-head">O GASP</th>
              <th class="stat-head">O NISH</th>
              <th class="stat-head">D GASP</th>
              <th class="stat-head">D NISH</th>
              <th class="stat-head">T GASP</th>
              <th class="stat-head">T NISH</th>
              <th>Comments</th>
              <th>Test</th>
              <th>Test</th>
              <th>Test</th>
              <th>Test</th>
              <th>Test</th>
              <th>Test</th>
              <th>Test</th>
              <th>Test</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cell">1</td>
              <td class="cell">Offense</td>
              <td class="cell">Legman</td>
              <td class="cell">California</td>
              <td class="cell">MLTP</td>
              <td class="offense cell">10.00</td>
              <td class="offense cell">97</td>
              <td class="defense cell">4.85</td>
              <td class="defense cell">23</td>
              <td class="total cell">10.00</td>
              <td class="total cell">94</td>
              <td class="comment cell">I'm a 92 degree player who loves to play offense and destroy everyone who plays against me. And I fricken hate everyone.</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </body>
</html>
</template>
