.black_overlay{
  display:block;
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  background-color:black;
  z-index:1001;
  -moz-opacity:0.8;
  opacity:0.8;
  filter:alpha(opacity=80);
}

.white_content{
 display:block;
  position:absolute;
  top:12%;
  left:25%;
  width:50%;
  height:80%;
  padding:16px;
  border:3px solid black;
  background-color:white;
  z-index:1002;
  overflow:auto;
}

.signupcontainer {
  margin: 0 -200;
  width: 1820px;
}

.draft-table {
  margin: 0 0px;
  width:100%;
  border: 1px solid #999999;
}

.table-title {
  height: 10px;
  background-color: #1e518c;
  padding: 0px 15px;
  line-height: 20px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #9a9a9a;
  font-weight: bold;
}

.draft-table table thead tr th {
  background-color: #434343;
  border-bottom: none;
  padding: 6px;
  color: white;
  text-align: center;
  border-bottom: none;
  line-height: 12px;
  font-weight: normal;
}

.draft-table table tbody tr td {
  padding: 8px
}

table {
  border-spacing: 0;
  width: 100%;
}

.stat-head {
  min-width: 60px;
}

.cell {
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid #919191;
  padding: 5px;
}

.cell-note {
  padding: 5px;
  background-color: #f2f2f2;
  border: 2px solid #919191;
  text-align: left;
}

.offense {
  background-color: #ea9999;
  font-weight: bold;
}

.defense {
  background-color: #9fc5e8;
  font-weight: bold;
}

.total {
  background-color: #ffe599;
  font-weight: bold;
}

.comment {
  max-width: 100px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
