<template name="viewsignups">
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
    <!-- query for players with specific responses -->
    <!-- table of all players -->
    <div class="signupcontainer">
        {{> popover}}
        <table class="draft-table">
            <thead>
                <tr>
                    {{#if canEditBoard}}
                    <th class="table-title">Submit</th>
                    {{/if}}
                    <th class="table-title">#</th>
                    <th class="table-title">Position</th>
                    <th class="table-title">Player</th>
                    <th class="table-title">Reddit</th>
                    <th class="table-title">Mic</th>
                    <th class="table-title">Location</th>
                    <th class="table-title">Experience</th>
                    <th class="table-title" colspan="7">Availability</th>
                    <th class="table-title">Arc</th>
                    <th class="table-title">Cen</th>
                    <th class="table-title">Sph</th>
                    <th class="table-title">Ori</th>
                    <th class="table-title">Pi</th>
                    <th class="table-title">Rad</th>
                    <th class="table-title">Seg</th>
                    <th class="table-title">Personal Note</th>
                    <!--<th class="table-title">View More</th>-->
                </tr>
            </thead>
            {{#each allsignups}}
            <tr>
                {{#if canEditBoard}}
                <input type="hidden">
                <td class="cell" style="max-width:30px" width="30px">
                    <input type="button" class="submitPacketUpdate" value="Update">
                </td>
                <td class="cell" width="60px" style="max-width:60px;padding:0px;align:left">
                    <input type="text" id="playerRanking{{meteorUserId}}" style="display:block;width:85%;height:100%;overflow:hidden" value="{{ranking}}">
                </td>
                {{else}}
                <td class="cell" width="10px" style="max-width:10px;padding:0px;align:left">
                    {{ranking}}
                </td>
                {{/if}}
                <td class="cell" style="background-color:{{getColorOfPosition position}};max-width:40px" width="10px">
                    {{getPlayerPosition position}}
                </td>
                <td class="cell" width="120px" style="max-width:120px">
                    <a href="{{proflink}}">{{playername}}</a>
                </td>
                <td class="cell" width="150px" style="max-width:150px">
                    {{redditname}}
                </td>
                <td class="cell" width="10px" style="max-width:10px">
                    {{mic}}
                </td>
                <td class="cell" width="100px" style="max-width:100px">
                    {{location}}
                </td>
                <td class="cell" width="25px" style="max-width:25px">
                    {{getHighestExperience mltp minorltp nltpa nltpb eltp usc rltp socl cltp}}
                </td>
                <td class="cell" width="25px" style="max-width:30px">
                    {{getDay "Su" sunday}}
                </td>
                <td class="cell" width="15px" style="max-width:30px">
                    {{getDay "M" monday}}
                </td>
                <td class="cell" width="15px" style="max-width:30px">
                    {{getDay "Tu" tuesday}}
                </td>
                <td class="cell" width="15px" style="max-width:30px">
                    {{getDay "W" wednesday}}
                </td>
                <td class="cell" width="15px" style="max-width:30px">
                    {{getDay "Th" thursday}}
                </td>
                <td class="cell" width="15px" style="max-width:30px">
                    {{getDay "F" friday}}
                </td>
                <td class="cell" width="15px" style="max-width:30px">
                    {{getDay "Sa" saturday}}
                </td>
                <td class="cell" style="{{getCheck arc}};word-wrap:break-word;max-width:15px" width="7px">{{arcping}}</td>
                <td class="cell" style="{{getCheck centra}};word-wrap:break-word;max-width:15px" width="7px">{{centraping}}</td>
                <td class="cell" style="{{getCheck sphere}};word-wrap:break-word;max-width:15px" width="7px">{{sphereping}}</td>
                <td class="cell" style="{{getCheck origin}};word-wrap:break-word;max-width:15px" width="7px">{{originping}}</td>
                <td class="cell" style="{{getCheck pi}};word-wrap:break-word;max-width:15px" width="7px">{{piping}}</td>
                <td class="cell" style="{{getCheck radius}};word-wrap:break-word;max-width:15px" width="7px">{{radiusping}}</td>
                <td class="cell" style="{{getCheck segment}};word-wrap:break-word;max-width:15px" width="7px">{{segmentping}}</td>
                <td class="cell" width="auto">
                    <p style="word-wrap:break-word;text-align:left">
                        {{personalmessage}}
                    </p>
                </td>
                <!--<td class="cell">
                    <p class="more">
                        Detailed
                    </p>
                </td>-->
            </tr>
            {{/each}}
        </table>
        <center><div id="home"><a>Back to home.</a></div></center>
    </div>
</template>

