<template name="auctionpage">
    <style type="text/css">
        body {padding-top: 70px;}
    </style>
    <div class="container-fluid">
        <div class="row" style="padding-top:25px;">
            <div class="col-sm-4 col-sm-push-8 col-xs-12" style="padding-top:0px;">
                <!--
                    {{> get_funds }}
                -->
                <!-- Need buttons to let you stop picking/restart picking -->
                {{> draftadmin }}
                {{> display_bidding_options }}
                {{> display_time }}
                {{> messages }}
            </div>
            <div class="col-sm-8 col-sm-pull-4 col-xs-12">
                {{> draftrosters}}
            </div>
        </div>
        <div class="button" id="vibrate" style="display:hidden"></div>
    </div>
    <script type="text/javascript" src="/auctionjs.js"></script>
</template>
